@import url("/fonts/fonts.css");

* {
    --font: "Roboto", Arial, Helvetica, sans-serif;
    --font-mono: "Roboto Mono", "Courier New", Courier, monospace;
}

body {
    background-repeat:repeat;
    background-size: cover;
    background-position-x: 50%;
    margin: 0;
}

.content-main {
    padding-left: 200px;
}

@media screen and (max-width: 600px) {
  .content-main {
      padding-left: 0px;
  }
}

.content-section {
    overflow:hidden;
    padding-left: 10px;
}

.countdown-section {
    padding: 35px;
    background-color: rgb(25, 26, 30, 0.75);
    color: #ffffff;
}

.countdown-section h2 {
    margin: 0px;
}

.countdown-section h3 {
    margin: 0px;
}

.content-limit-width {
    max-width: 800px;
}

.content-pad-top {
    padding-top: 10px;
}

.content-pad-bottom {
    padding-bottom: 10px;
}

.content-pad-left {
    padding-left: 10px;
}