/* BODY */
body {
    background-color:#161616;
}


/* THEME */
.theme.button {
    background-color:#161616;
    color:#afafaf;
}

.theme.button:hover {
    background-color:#242424;
}


/* TOPMENU */
.topmenu.button {
    background-color:#161616;
    color:#afafaf;
}

.topmenu.button:hover {
    background-color:#242424;
}


/* HEADING */
.heading.small {
    color:rgb(202, 146, 73);
}

.heading.big {
    color:rgb(112, 198, 255);
}


/* TEXT */
.text.monospace {
    color:rgb(207, 207, 207);
}

.text.error {
    color:rgb(192, 119, 119);
}

.text.success {
    color:rgb(119, 192, 131);
}

.text.link {
    color:rgb(106, 219, 121);
}


/* RULES */
.rules.listelement {
    color:rgb(207, 207, 207);
}


/* APPLICATION */
.application.container {
    background-color: rgb(32,42,39);
}

.application.form {
    color:rgb(207, 207, 207);
}

.application.label {
    color:rgb(137, 219, 199);
}

.application.radio.input:checked ~ .application.radio.checkmark {
    background-color: rgb(66, 207, 78);
}

.application.radio.checkmark {
    background-color: rgb(207, 207, 207);
}

.application.text {
    background-color: #161616;
    color: #e7e7e7;
}

.application.submit {
    background-color: rgb(32,42,39);
    color: #e7e7e7;
}

.application.view.button {
    background-color: rgb(32,42,39);
    color: #e7e7e7;
}


/* STAFF */
.staff.members.member.rank {
    color:rgb(112, 198, 255);
}

.staff.members.member.name {
    color:rgb(207, 207, 207);
}

.staff.members.member.description {
    color:rgb(207, 207, 207);
}

.staff.members.member.aka {
    color:rgb(207, 207, 207);
}

.staff.members.member.background.universe {
    background-color: rgb(34,21,31);
}

.staff.members.member.background.universe:hover {
    background-color: rgb(138,15,107,0.1);
}

.staff.members.member.background.universe.description {
    background-color: rgb(138,15,107,0.3);
}

.staff.members.member.background.host {
    background-color: rgb(44,30,40);
}

.staff.members.member.background.host:hover {
    background-color: rgb(238,102,204,0.3);
}

.staff.members.member.background.host.description {
    background-color: rgb(238,102,204,0.3);
}

.staff.members.member.background.galaxy {
    background-color: rgb(20,45,20);
}

.staff.members.member.background.galaxy:hover {
    background-color: rgb(0,255,0,0.3);
}

.staff.members.member.background.galaxy.description {
    background-color: rgb(0,255,0,0.3);
}

.staff.members.member.background.constellation {
    background-color: rgb(32,42,39);
}

.staff.members.member.background.constellation:hover {
    background-color: rgb(120,217,190,0.3);
}

.staff.members.member.background.constellation.description {
    background-color: rgb(120,217,190,0.3);
}

.staff.members.member.background.star {
    background-color: rgb(35,40,20);
}

.staff.members.member.background.star:hover {
    background-color: rgb(153,204,0, 0.3);
}

.staff.members.member.background.star.description {
    background-color: rgb(153,204,0, 0.3);
}

.staff.ranks.background.galaxy {
    background-color: rgb(20,45,20);
}

.staff.ranks.background.constellation {
    background-color: rgb(32,42,39);
}

.staff.ranks.background.star {
    background-color: rgb(35,40,20);
}

.staff.ranks.staffrank.text {
    color:rgb(207, 207, 207);
}


/* RANKS */
.ranks.rank {
    color:rgb(112, 198, 255);
}

.ranks.title {
    color:rgb(158, 99, 71);
}

.ranks.description {
    color:rgb(207, 207, 207);
}

.ranks.background.mercury {
    background-color: rgb(47,47,47);
}

.ranks.background.mercury:hover {
    background-color: rgb(47,47,47);
}

.ranks.background.venus {
    background-color: rgb(46,29,15);
}

.ranks.background.venus:hover {
    background-color: rgb(46,29,15);
}

.ranks.background.earth {
    background-color: rgb(25,47,88);
}

.ranks.background.earth:hover {
    background-color: rgb(25,47,88);
}

.ranks.background.mars {
    background-color: rgb(77,37,24);
}

.ranks.background.mars:hover {
    background-color: rgb(77,37,24);
}

.ranks.background.jupiter {
    background-color: rgb(92,74,39);
}

.ranks.background.jupiter:hover {
    background-color: rgb(92,74,39);
}

.ranks.background.saturn {
    background-color: rgb(85,85,42);
}

.ranks.background.saturn:hover {
    background-color: rgb(85,85,42);
}

.ranks.background.uranus {
    background-color: rgb(68,82,90);
}

.ranks.background.uranus:hover {
    background-color: rgb(68,82,90);
}

.ranks.background.neptune {
    background-color: rgb(15,67,84);
}

.ranks.background.neptune:hover {
    background-color: rgb(15,67,84);
}


/* CHANGELOG */
.changelog.major {
    background-color: rgb(25,84,115);
    color:rgb(207, 207, 207);
}

.changelog.minor {
    background-color: rgb(26,52,92);
    color:rgb(207, 207, 207);
}

.changelog.complete {
    background-color: rgb(10,87,30);
    color:rgb(207, 207, 207);
}

.changelog.wip {
    background-color: rgb(87,71,10);
    color:rgb(207, 207, 207);
}

.changelog.planned {
    background-color: rgb(47,47,47);
    color:rgb(207, 207, 207);
}

.changelog.bug.known {
    background-color: rgb(94, 94, 94);
    color:rgb(207, 207, 207);
}

.changelog.bug.fixed {
    background-color: rgb(48, 48, 48);
    color:rgb(207, 207, 207);
}