.image-icon-big {
  width: 60px;
  height: 60px;
  stroke: rgb(255, 255, 255);
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.image-icon-small-white {
  width: 15px;
  height: 15px;
  stroke: rgb(255, 255, 255);
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.image-icon-small-green {
  width: 15px;
  height: 15px;
  stroke: rgb(50, 230, 50);
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.image-icon-small-amber {
  width: 15px;
  height: 15px;
  stroke: rgb(255, 181, 44);
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.image-icon-small-red {
  width: 15px;
  height: 15px;
  stroke: rgb(230, 50, 50);
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.image-staff-tag {
  padding-left: 5px;
  justify-content: center;
}

.image-1-1-width {
  width: 99%
}

.image-3-4-width {
  width: 75%
}

.image-1-2-width {
  width: 49%
}

.image-1-4-width {
  width: 24%
}

.image-pad {
  padding-top: 10px;
}