/* THEME */
.theme.button {
    padding: 0;
    width:10%;
    height:4%;
    border:none;
    font-family: monospace;
    font-size: 15px;
}

.theme.button:hover {
    cursor:pointer;
}


/* TOP MENU */
.topmenu.container.menu {
    margin:auto;
    width: 90%;
    overflow: hidden;
}

.topmenu.container.banner {
    margin:auto;
    width:60%;
}

.topmenu.banner {
    display:block;
    margin:auto;
    width:40%;
}

.topmenu.icon {
    width:80%;
}

.topmenu.button {
    border:none;
    padding:2%;
    text-align:center;
    font-size:1.6vw;
    width:12.5%;
}

.topmenu.button:hover {
    cursor:pointer;
}


/* CONTAINER */
.container.main {
    margin:auto;
    width:90%;
}


/* HEADING */
.heading.small {
    font-family:monospace;
    font-size:30px;
}

.heading.big {
    font-family:monospace;
    font-weight: bold;
    font-size:45px;
}


/* TEXT */
.text.monospace {
    font-family:monospace;
    font-size:20px;
}

.text.error {
    font-family:monospace;
    font-size:20px;
}

.text.success {
    font-family:monospace;
    font-size:20px;
}


/* LIST*/
.listelement {
    list-style-type:circle;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    font-weight:normal;
}


/* APPLICATION */
.application.container {
    padding:10px;
    margin-bottom:20px;
    max-width: 1150px;
}

.application.label {
    font-family:monospace;
    font-size:20px;
    position: relative;
    display: block;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
    left: 30px;
}

.application.radio.input {
    position: absolute;
    cursor:pointer;
    opacity: 0;
}

.application.radio.checkmark {
    position: absolute;
    top: 5px;
    left: -25px;
    height: 15px;
    width: 15px;
    border-radius: 40%;
}

.application.text.short {
    border: 0px solid;
    font-family: monospace;
    font-size:15px;
    width: 150px;
    height: 20px;
}

.application.text.long {
    border: 0px solid;
    font-family: monospace;
    font-size: 15px;
    width: 1150px;
    max-width: 100%;
    height: 200px;
    resize: vertical;
}

.application.text:focus {
    outline-width: 0;
}

.application.submit {
    border:0px;
    width:300px;
    height:60px;
    font-family: monospace;
    font-size:30px;
    cursor:pointer;
}

.application.view.button {
    border:0px;
    width:200px;
    height:60px;
    font-family: monospace;
    font-size:40px;
    cursor:pointer;
    margin-bottom:20px;
    margin-right:15px;
}


/* STAFF */
.staff.members.container {
    width:95%;
    padding:10px;
    overflow: hidden;
}

.staff.members.top.container {
    margin:auto;
    width:100%;
}

.staff.members.member.container {
    width:300px;
    height:400px;
    float:left;
}

.staff.members.member.rank {
    font-family:monospace;
    font-size:20px;
    text-align:center;
}

.staff.members.member.avatar {
    width:auto;
    display:block;
    margin:auto;
    margin-bottom:0;
}

.staff.members.member.name {
    font-family:Arial, Helvetica, sans-serif;
    font-size:25px;
    text-align:center;
    margin-bottom:0;
}

.staff.members.member.description {
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    text-align:center;
    margin-bottom:0;
}

.staff.members.member.aka {
    font-family:Arial, Helvetica, sans-serif;
    font-size:10px;
    text-align:center;
    margin-bottom:0;
    margin-top:0;
}

.staff.members.member.background.universe {
    transition:0.3s;
    height:400px;
    position:absolute;
    width:300px;
}

.staff.members.member.background.universe:hover {
    opacity:0.0;
}

.staff.members.member.background.host {
    transition:0.3s;
    height:400px;
    position:absolute;
    width:300;
}

.staff.members.member.background.host:hover {
    opacity:0.0;
}

.staff.members.member.background.galaxy {
    transition:0.3s;
    height:400px;
    position:absolute;
    width:300;
}

.staff.members.member.background.galaxy:hover {
    opacity:0.0;
}

.staff.members.member.background.constellation {
    transition:0.3s;
    height:400px;
    position:absolute;
    width:300;
}

.staff.members.member.background.constellation:hover {
    opacity:0.0;
}

.staff.members.member.background.star {
    transition:0.3s;
    height:400px;
    position:absolute;
    width:300;
}

.staff.members.member.background.star:hover {
    opacity:0.0;
}

.staff.ranks.container {
    width:95%;
    padding:10px;
    overflow:hidden;
}

.staff.ranks.top.container {
    margin:auto;
    width:100%;
    margin-top:20px;
}

.staff.ranks.background.galaxy {
    transition:0.3s;
    max-width:1100px;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom:10px;
}

.staff.ranks.background.constellation {
    transition:0.3s;
    max-width:1100px;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom:10px;
}

.staff.ranks.background.star {
    transition:0.3s;
    max-width:1100px;
    box-sizing: border-box;
    padding: 10px;
}

.staff.ranks.staffrank.text {
    font-family:monospace;
    font-size:20px;
    margin:0;
}

.staff.apply.container {
    width:95%;
    padding:10px;
}

.staff.apply.top.container {
    margin:auto;
    width:100%;
    margin-top:20px;
}

.staff.apply.top.heading {
    margin:auto;
    width:10em;
    font-family:monospace;
    font-weight:bold;
    font-size:45px;
}

.staff.apply.info.container {
    margin:auto;
    width:100%;
}

.staff.apply.info.heading {
    margin:auto;
    font-family:monospace;
    font-size:30px;
}

.staff.apply.info.text {
    font-family:monospace;
    font-size:20px;
    max-width:1000px;
}


/* RANKS */
.ranks.container {
    width:95%;
    padding:10px;
    overflow: hidden;
}

.ranks.rank.container {
    width:400px;
    height:400px;
    float:left;
}


.ranks.top.container {
    margin:auto;
    width:100%;
}

.ranks.rank {
    font-family:monospace;
    font-size:20px;
    text-align:center;
}

.ranks.title {
    font-family:monospace;
    font-size:25px;
    text-align:left;
    margin-bottom:0;
}

.ranks.description {
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    margin-bottom:0;
    text-align: left;
}

.ranks.icon {
    width:auto;
    display:block;
    margin:auto;
    margin-bottom:0;
}

.ranks.background.mercury {
    transition:0.3s;
    height:400px;
    position:absolute;
    width:400px;
}

.ranks.background.mercury:hover {
    opacity:0.0;
}

.ranks.background.venus {
    transition:0.3s;
    height:400px;
    position:absolute;
    width:400px;
}

.ranks.background.venus:hover {
    opacity:0.0;
}

.ranks.background.earth {
    transition:0.3s;
    height:400px;
    position:absolute;
    width:400px;
}

.ranks.background.earth:hover {
    opacity:0.0;
}

.ranks.background.mars {
    transition:0.3s;
    height:400px;
    position:absolute;
    width:400px;
}

.ranks.background.mars:hover {
    opacity:0.0;
}

.ranks.background.jupiter {
    transition:0.3s;
    height:400px;
    position:absolute;
    width:400px;
}

.ranks.background.jupiter:hover {
    opacity:0.0;
}

.ranks.background.saturn {
    transition:0.3s;
    height:400px;
    position:absolute;
    width:400px;
}

.ranks.background.saturn:hover {
    opacity:0.0;
}

.ranks.background.uranus {
    transition:0.3s;
    height:400px;
    position:absolute;
    width:400px;
}

.ranks.background.uranus:hover {
    opacity:0.0;
}

.ranks.background.neptune {
    transition:0.3s;
    height:400px;
    position:absolute;
    width:400px;
}

.ranks.background.neptune:hover {
    opacity:0.0;
}


/* CHANGELOG */
.changelog {
    font-family:monospace;
    font-size:20px;
}

.changelog.complete {
    font-family:monospace;
    font-size:20px;
}

.changelog.wip {
    font-family:monospace;
    font-size:20px;
}

.changelog.planned {
    font-family:monospace;
    font-size:20px;
}

.changelog.bug.known {
    font-family:monospace;
    font-size:20px;
}

.changelog.bug.fixed {
    font-family:monospace;
    font-size:20px;
}