.text-heading-big {
    font-family:Arial, Helvetica, sans-serif;
    font-size:4.0em;
    font-weight: 100;
    letter-spacing: 0.1em;
    color:rgb(190, 190, 190);
}

.text-heading-medium {
    font-family:Arial, Helvetica, sans-serif;
    font-size:2.0em;
    color:rgb(78, 174, 247);
    letter-spacing: 1px;
}

.text-heading-small {
    font-family:Arial, Helvetica, sans-serif;
    font-size:1.7em; 
    color:rgb(114, 115, 115);
}

.text-paragraph {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:1.0em;
    letter-spacing: 0.0em;
    color:rgb(255, 255, 255);
    margin-block-start: 2px;
}

.text-question {
    font-family:Arial, Helvetica, sans-serif;
    font-size:1.1em;
    letter-spacing: 0.0em;
    color:rgb(209, 209, 209);
    margin-block-start: 2px;
}

.text-link {
    color:rgb(106, 219, 121);
}

.text-error {
    font-family:Arial, Helvetica, sans-serif;
    font-size:1.1em;
    letter-spacing: 0.0em;
    color:rgb(200, 100, 100);
    margin-block-start: 2px;
}

.text-success {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:1.0em;
    letter-spacing: 0.0em;
    color:rgb(100, 200, 100);
    margin-block-start: 2px;
}

.text-progress {
    font-family:Arial, Helvetica, sans-serif;
    font-size:1.1em;
    letter-spacing: 0.0em;
    color:rgb(250, 200, 100);
    margin-block-start: 2px;
}

.text-centre {
    text-align: center;
}

.text-small-italic {
    font-family:Arial, Helvetica, sans-serif;
    font-size:0.8em;
    letter-spacing: 0.0em;
    color:rgb(184, 184, 184);
    font-style: italic;
}

.text-news-content {
    font-family:Arial, Helvetica, sans-serif;
    font-size:1.1em;
    letter-spacing: 0.0em;
    color:rgb(255, 255, 255);
    padding-bottom: 30px;
    margin-block-start: 4px;
    max-width: 1000px;
}

.text-sf-item {
    color:rgb(231, 169, 88)
}

.text-sf-item-heading {
    color:rgb(150, 226, 169)
}