.text-heading-big {
    font-family:monospace;
    font-size:4em;
    letter-spacing: 0.3em;
    color:rgb(112, 198, 255);
}

.text-heading-medium {
    font-family:monospace;
    font-size:2em;
    color:rgb(212, 169, 76);
    letter-spacing: 3px;
}

.text-heading-small {
    font-family:monospace;
    font-size:1.3em; 
    color:rgb(76, 192, 228);
    letter-spacing: 1px;
}

.text-paragraph {
    font-family:Arial, Helvetica, sans-serif;
    font-size:1.1em;
    letter-spacing: 0.0em;
    color:rgb(255, 255, 255);
    margin-block-start: 2px;
}

.text-link {
    color:rgb(106, 219, 121);
}

.text-error {
    font-family:Arial, Helvetica, sans-serif;
    font-size:1.1em;
    letter-spacing: 0.0em;
    color:rgb(200, 100, 100);
    margin-block-start: 2px;
}

.text-success {
    font-family:Arial, Helvetica, sans-serif;
    font-size:1.1em;
    letter-spacing: 0.0em;
    color:rgb(100, 200, 100);
    margin-block-start: 2px;
}

.text-progress {
    font-family:Arial, Helvetica, sans-serif;
    font-size:1.1em;
    letter-spacing: 0.0em;
    color:rgb(250, 200, 100);
    margin-block-start: 2px;
}

.text-centre {
    text-align: center;
}

.text-small-italic {
    font-family:Arial, Helvetica, sans-serif;
    font-size:0.8em;
    letter-spacing: 0.0em;
    color:rgb(184, 184, 184);
    font-style: italic;
}

.text-news-content {
    font-family:Arial, Helvetica, sans-serif;
    font-size:1.1em;
    letter-spacing: 0.0em;
    color:rgb(255, 255, 255);
    padding-bottom: 30px;
    margin-block-start: 4px;
    max-width: 1000px;
}