.rank-box {
    padding: 0.5%;
    display: inline-block;
}

.rank-box h2 {
    font-family: var(--font-mono);
    font-size:2.1em; 
    color:rgb(98, 165, 227);
    letter-spacing: 1px;
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: 100;
}

.rank-box p {
    font-family: var(--font);
    font-size:1.0em;
    letter-spacing: 0.0em;
    color:rgb(255, 255, 255);
    margin-block-start: 2px;
}

.rank-box-icon-div {
    width: 20%;
    float: left;
    padding: 0px;
}

.rank-box-icon-image {
    width: 73%;
    height: auto;
    stroke: rgb(255, 255, 255);
    stroke-width: 2;
}

.rank-box-text-div {
    width: 78%;
    float: left;
    padding: 0px;
}