.application-position-box {
    padding: 0.5%;
    display: inline-block;
}

.application-position-box h1 {
    font-family:monospace;
    font-size:2.1em; 
    color:rgb(98, 165, 227);
    letter-spacing: 1px;
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: 100;
}

.application-position-box p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:1.0em;
    letter-spacing: 0.0em;
    color:rgb(255, 255, 255);
    margin-block-start: 2px;
}

.application-position-box-icon-div {
    width: 13%;
    float: left;
    padding: 0px;
}

.application-position-box-icon-image {
    width: 73%;
    height: auto;
    stroke: rgb(255, 255, 255);
    stroke-width: 2;
}

.application-position-box-text-div {
    width: 85%;
    float: left;
    padding: 0px;
}