.featurebox {
    padding: 0.5%;
    display: inline-block;
}

.featurebox h1 {
    font-family:monospace;
    font-size:2.1em; 
    color:rgb(98, 165, 227);
    letter-spacing: 1px;
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: 100;
}

.featurebox p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:1.0em;
    letter-spacing: 0.0em;
    color:rgb(255, 255, 255);
    margin-block-start: 2px;
}

.featurebox-icon-div {
    width: 20%;
    float: left;
    padding: 0px;
}

.featurebox-icon-image {
    width: 73%;
    height: auto;
    stroke: rgb(255, 255, 255);
    stroke-width: 2;
}

.featurebox-text-div {
    width: 78%;
    float: left;
    padding: 0px;
}