.rule-box {
    padding: 3px;
    display: inline-block;
    max-width: 800px;
}

.rule-box-number {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:1.0em; 
    color:rgb(98, 165, 227);
    letter-spacing: 1px;
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: 600;
}

.rule-box-rule {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:1.0em;
    letter-spacing: 0.0em;
    color:rgb(255, 255, 255);
    margin-block-start: 2px;
}