.staff-member-box {
    padding: 0.5%;
    display: inline-block;
}

.staff-member-box h1 {
    font-family:monospace;
    font-size:2.1em; 
    color:rgb(98, 165, 227);
    letter-spacing: 1px;
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: 100;
}

.staff-member-box h2 {
    font-family:monospace;
    font-size:1.0em; 
    color:rgb(133, 133, 133);
    letter-spacing: 1px;
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: 100;
}

.staff-member-box h3 {
    font-family:monospace;
    font-size:1.5em; 
    letter-spacing: 1px;
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: 100;
}

.staff-member-box p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:1.0em;
    letter-spacing: 0.0em;
    color:rgb(255, 255, 255);
    margin-block-start: 2px;
}

.staff-member-box-icon-div {
    width: 20%;
    float: left;
    padding: 0px;
}

.staff-member-box-icon-image {
    width: 73%;
    height: auto;
    stroke: rgb(255, 255, 255);
    stroke-width: 2;
}

.staff-member-box-text-div {
    width: 78%;
    float: left;
    padding: 0px;
}