.wiki-warning {
    display: inline-block;
    width: 80%;
    background-color: rgb(118, 0, 0, 0.7);
    border-radius: 0.7rem;
    margin-bottom: 15px;
}

.wiki-warning p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:1.0em;
    letter-spacing: 0.0em;
    color:rgb(255, 255, 255);
    margin-block-start: 2px;
}

.wiki-warning-icon-div {
    width: 5%;
    min-height: 5%;
    float: left;
    padding: 6px;
    border-radius: 0.7rem 0 0 0.7rem;
    background-color: rgb(167, 22, 22, 0.7);
}

.wiki-warning-icon-image {
    width: 85%;
    padding: 7.5%;
    stroke: rgb(255, 255, 255);
    stroke-width: 2;
}

.wiki-warning-text-div {
    width: 83%;
    min-height: 5%;
    float: left;
    padding: 6px;
    margin-left: 8px;
    position: relative;
}

.wiki-warning-text-content {
    font-family: monospace;
    font-size: 0.85rem;
}