.wiki-box {
    padding: 0.5%;
    display: inline-block;
    max-width: 1200px;
}

.wiki-box h1 {
    font-family:Arial, Helvetica, sans-serif;
    font-size:2.1em;
    color:rgb(0, 145, 255);
    letter-spacing: 1px;
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: 600;
    padding-top: 5px;
}

.wiki-box h2 {
    font-family:Arial, Helvetica, sans-serif;
    font-size:1.3em; 
    color:rgb(130, 130, 130);
    letter-spacing: 1px;
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: 100;
    padding-top: 5px;
    padding-bottom: 5px;
}

.wiki-box p {
    font-family:Arial, Helvetica, sans-serif;
    font-size:1.0em;
    letter-spacing: 0.0em;
    color:rgb(234, 234, 234);
    margin-block-start: 2px;
}

.wiki-box hr {
    border-color: rgb(152, 152, 152);
    border-style: solid;
}

.wiki-box a {
    color:rgb(106, 219, 121);
}

.wiki-box img {
    padding-bottom: 13px;
}