.gallery-upload-label {
    display: inline-block;
    border:0px;
    width:300px;
    height:60px;
    font-family: monospace;
    font-size:30px;
    cursor:pointer;
    background-color: #509050;
    color: #e7e7e7;
    text-align: center;
    transition-duration: 0.2s;
}

.gallery-upload-label:hover {
    background-color: #52b352;
    transition-duration: 0.2s;
}

.gallery-upload-div {
    padding-top: 12px;
}

.gallery-upload-button {
    display: none;
}

.gallery-div {
    column-width: 500px;
    column-fill: balance;
    column-gap: 0px;
    width: 99%;
}

.gallery-image-div {
    background-color: rgb(50, 50, 50);
    background-clip: content-box;
    padding-left: 5px;
    padding-top: 5px;
    display: block;
    margin: 0;
/*    vertical-align: top;*/
}

/*.gallery-image-div:hover {
    background-color: rgb(59, 59, 59);
    cursor: pointer;
    transition-duration: 0.2s;
}*/

.gallery-image-image {
    width: 95%;
    padding-left: 2.5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

.gallery-image-name {
    font-family: monospace;
    font-size: 20px;
    color: rgb(255, 255, 255);
}